# site properties and page defaults
title: AIMA Research Group
subtitle: AI in Medical Applications
#description: Our lab focuses on advancing artificial intelligence methods for scientific discovery and real-world impact. We develop principled machine learning and deep learning approaches, with an emphasis on robust representation learning, optimization, and generalization. Our research bridges theory and practice, aiming to design algorithms that are both mathematically grounded and empirically effective across diverse applications.
# header: images/background.png
footer: images/background.png

# site social media and other links
links:
  email: contact@datct00.com
  orcid: 0000-0001-8713-9213
  google-scholar: ETJoidYAAAAJ
  github: datct00
  twitter: datct00
  youtube: datct00

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
